$fontRoot: 'https://fonts.googleapis.com/css?family=';
@import url($fontRoot+'Source+Code+Pro');
@import url($fontRoot+'Montserrat');
@import url($fontRoot+'Roboto');
@import url($fontRoot+'Lato');
$codeFont: 'Source Code Pro';
.container{
  width: 50em;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  .header {
    font-size: 4em;
    font-family: 'Roboto', sans-serif;
  }
  .userStories{
    li {
      font-family:'Montserrat', sans-serif;
    }
  }
  .exInput {
    color: blue;
    font-family:$codeFont;
  }
  .exOutput {
    color: red;
    font-family:$codeFont;
    span {
      display: block;
    }
  }
}